<h1>Edit Your Profile</h1>
<form action="/users/<%= current_user.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	<label for="first_name">First Name: </label>
	<input type="text" name="users[first_name]" value="<%= current_user.first_name %>" class="form-control">
	<label for="last_name">last Name: </label>
	<input type="text" name="users[last_name]" value="<%= current_user.last_name %>" class="form-control">
	<label for="email">Email: </label>
	<input type="text" name="users[email]" value="<%= current_user.email %>" class="form-control">
	<label for="location">Location</label>
	<input type="text" name="users[location]" value="<%= current_user.city %>" class="form-control">
	<label for="location">State</label>
	<select name="users[state]" id="state" class="form-control">
		<option value="CA">CA</option>
		<option value="WA">WA</option>
		<option value="NY">NY</option>
	</select>
	<button class="btn btn-success form-control">Update Records</button>
</form>